# Claimable DB expires at: Fri, 03 Oct 2025 15:24:09 GMT
# Claim it now to your account: https://neon.new/database/0237aece-afd8-42a2-b5ae-7760636c4e73

# Database
DATABASE_URL=
DATABASE_URL_POOLER=
CORS_ORIGIN=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Github OAuth
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""


# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""